.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 15px;
  position: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red; 
}

p {
  border: 1px solid black;
  background-color: gray;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}

.row {
  width: 100%;
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3{
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 100%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 50%;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .col-min-1, .col-min-2, .col-min-3{
    float: left;
    border: 1px solid green;
  }
  .col-min-1 {
    width: 100%;
  }
  .col-min-2 {
    width: 100%;
  }
  .col-min-3 {
    width: 100%;
  }
}
